<div *ngIf="!isLoaded" class="d-flex justify-content-center align-content-center">
    <mat-spinner></mat-spinner>
</div>
<mat-drawer-container fullscreen autosize hasBackdrop="true" *ngIf="isLoaded">
    <mat-drawer #drawer opened="false" mode="over">
        <app-questionnaire-menu [questions]="questions" [subject]="subject" (navigateTo)="navigateTo($event)"></app-questionnaire-menu>
    </mat-drawer>
    <mat-drawer-content class="container">
        <div class="row justify-content-center pt-2" *ngIf="isEmpty">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                <mat-card [style.backgroundColor]="dangerColor" [style.color]="colorWhite">There are no questions in this questionnaire!</mat-card>
            </div>
        </div>
        <div class="row justify-content-center pt-2" *ngIf="!isEmpty && hasError">
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                <mat-card [style.backgroundColor]="dangerColor" [style.color]="colorWhite">The question you are looking for doesn't exist.</mat-card>
            </div>
        </div>
        <div class="row pb-5 justify-content-center" *ngIf="!hasError && !isEmpty">
            <div [style.backgroundColor]="colorWhiteBackground" class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 pb-4 pt-4 d-flex justify-content-between sticky-top">
                <button mat-icon-button (click)="menu.first.toggle()"><mat-icon>menu</mat-icon></button>
                <button mat-icon-button mat-raised-button routerLink='/'><mat-icon>home</mat-icon></button>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 pt-2 pb-2">
                <app-question [question]="question" [correctAnswer$]="correctAnswer$" [correct$]="isCorrect$" (answer$)="getAnswer($event)"></app-question>
                <div *ngIf="question.asset" class="q-image">
                    <img [src]="question.asset" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="!hasError && !isEmpty">
            <div [style.backgroundColor]="colorWhiteBackground" class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 p-4 d-flex justify-content-between align-items-center sticky-bottom">
                <div>
                    <button mat-icon-button mat-raised-button class="mr-2" (click)="prev()"><mat-icon>keyboard_arrow_left</mat-icon></button>
                    <button mat-icon-button mat-raised-button (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></button>
                </div>
                <div>
                    <button mat-icon-button mat-raised-button [color]="'primary'" (click)="check()"><mat-icon>check</mat-icon></button>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>