<div class="container-fluid pt-4">
  <div class="row justify-content-between">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 offset-xl-4 offset-lg-4 offset-md-1 col-6">
      <h4>Questionnaires</h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-sm-4 col-4">
      <button mat-flat-button [color]="'warn'" type="submit" (click)="logOut()">Logout</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-4 col-sm-10 col-10">
      <mat-list role="list" class="home-questionnaire-menu">
        <mat-list-item role="listitem" *ngFor="let subject of subjects" [routerLink]="subject.route" class="q-menu-item">{{ subject.subject }}</mat-list-item>
        <mat-list-item role="listitem" class="q-menu-item" routerLink="/wrong" style="background-color: #d32f2f; color: #fff">Wrong answered</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
