<div class="container-fluid">
    <div class="row">
        <div *ngIf="!isEmpty" class="col-xl-2 col-lg-2 col-md-3 d-md-block d-none fixed-top pl-0">
            <app-questionnaire-menu [questions]="questions" [subject]="subject" [wrong]="true" (navigateTo)="navigateTo($event)"></app-questionnaire-menu>
        </div>
        <div class="col-xl-6 col-lg-8 col-md-9 offset-xl-2 offset-lg-2 offset-md-3 question">
            <div *ngIf="isEmpty && !hasError">
                <h2>There are no wrong answered questions.</h2>
            </div>
            <div *ngIf="hasError" class="alert alert-danger">
                The question you are looking for is not in your wrong answered question.
            </div>
            <div *ngIf="!isEmpty && !hasError" class="q-button">
                <button mat-flat-button [color]="'primary'" (click)="check()" style="margin-right: 2rem;">Check</button>
                <button mat-flat-button [color]="'accent'" (click)="prev()" style="margin-right: .5rem;">Prev</button>
                <button mat-flat-button [color]="'accent'" (click)="next()" style="margin-right: .5rem;">Next</button>
                <button mat-flat-button [color]="'accent'" routerLink='/'>Start</button>
            </div>
            <app-question *ngIf="!hasError && !isEmpty" [question]="question" [correctAnswer]="correctAnswer" [correct]="isCorrect" (answer)="getAnswer($event)"></app-question>
        </div>
    </div>
</div>
