@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "styles/theme.scss";

img {
  max-width: 100%;
  height: auto;
}

.full-width-field {
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.start-questionnaire-menu,
.questionnaire-menu {
  height: 100%;
  overflow-y: auto;
}

mat-drawer {
  min-width: 20%;
}

h6 {
  font-size: 1.25rem;
}

@include media-breakpoint-between(xs, sm) {
  h6 {
    font-size: 1rem;
  }
  mat-drawer {
    min-width: 60%;
  }
}

.mat-radio-label {
  white-space: normal!important;
}

.question {
  padding: 2rem;
}

.alert {
  border: none;
  border-radius: 0;

  &.alert-danger {
    color: white;
    background-color: #d32f2f;
  }

  &.alert-success {
    color: white;
    background-color: #4BB543;
  }
}

.q-image {
  padding: 1rem 0 1rem 0;
}

.q-button {
  padding: 0 1rem 2rem 0;
}

.question-title {
  padding-bottom: 1rem; 
}

.question-answers {
  display: flex;
  flex-direction: column;
}